<div class="container-fluid">
    <div class="row">
        <div class="sidebar p-3 border-right-gradient-inset">
          <div class="card">
              <div class="card-block">
                  <button class="btn btn-success">+ New Order</button>
                  <fieldset  class="form-group">
                    <a (click)="clearSearch()" class="float-right">Clear all</a>
                    <h4><small>SEARCH BY:</small></h4>
                    <div class="form-group">
                      <label for="searchOrderNumber">Order Number</label>
                      <input type="text" class="form-control" id="searchOrderNumber" />
                    </div>
                    <div class="form-group">
                      <label for="searchOrderNumber">Date Range</label>
                      <div class="input-group">
                          <span class="input-group-addon" id="searchStartLabel">Start:</span>
                          <datepicker></datepicker>
                      </div>
                      <div class="input-group">
                          <span class="input-group-addon" id="searchEndLabel">End:</span>
                          <datepicker></datepicker>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="searchCustomer">Customer</label>
                      <input type="text" class="form-control" id="searchCustomer" aria-describedby="searchCustomerHelp"/>
                      <small id="searchCustomerHelp" class="form-text text-muted">Name, email address, or company (licensee name/company)</small>
                    </div>
                    <div class="form-group">
                      <label for="searchProject">Project</label>
                      <input type="text" class="form-control" id="searchProject" aria-describedby="searchProjectHelp"/>
                      <small id="searchProjectHelp" class="form-text text-muted">Project name, URL</small>
                    </div>
                    <div class="form-group">
                      <label for="searchFont">Family or Style</label>
                      <input type="text" class="form-control" id="searchFont"/>
                    </div>
                     <div class="form-group">
                      <label for="searchFoundry">Foundry or Designer</label>
                      <input type="text" class="form-control" id="searchFoundry" />
                    </div>
                  </fieldset>
                  <fieldset  class="form-group">
                    <a (click)="clearFilters()" class="float-right">Clear filters</a>
                    <h4><small>FILTER BY:</small></h4>
                    <div class="form-group">
                      <label for="filterLicenseType">License Type</label>
                      <ul class="list-group">
                        <li class="list-group-item justify-content-between">Desktop <span>(228)</span></li>
                        <li class="list-group-item justify-content-between">Web (hosted) <span>(228)</span></li>
                        <li class="list-group-item justify-content-between">Web (self-hosted) <span>(228)</span></li>
                        <li class="list-group-item justify-content-between">Application <span>(228)</span></li>
                        <li class="list-group-item justify-content-between">E-publication <span>(228)</span></li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label for="filterOrderStatus">Status</label>
                      <ul class="list-group">
                        <li class="list-group-item justify-content-between">Compelted <span>(228)</span></li>
                        <li class="list-group-item justify-content-between">Pending <span>(228)</span></li>
                        <li class="list-group-item justify-content-between">Failed <span>(228)</span></li>
                        <li class="list-group-item justify-content-between">Cancelled <span>(228)</span></li>
                      </ul>
                    </div>
                  </fieldset>
              </div>
          </div>
        </div>
        <div class="main p-5 w-100">
          <h2>Orders</h2>
          <table  class="table">
            <thead>
              <th>Order number</th>
              <th>Customer</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Status</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>2367</td>
                <td>Longname, Person</td>
                <td>237.00</td>
                <td>10/20/2016</td>
                <td>Pending</td>
                <td><button class="btn">IMPERSONATE</button></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
