<div class="container-fluid">

  <h1 class="bd-title" id="content">Image replacement</h1>
  <p>Utilize the <code class="highlighter-rouge">.text-hide</code> class or mixin to help replace an element’s text content with a background image.</p>

  <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"text-hide"</span><span class="nt">&gt;</span>Custom heading<span class="nt">&lt;/h1&gt;</span></code></pre></figure>

  <figure class="highlight"><pre><code class="language-scss" data-lang="scss"><span class="c1">// Usage as a mixin
  </span><span class="nc">.heading</span> <span class="p">{{ '{' }}</span>
    <span class="k">@include</span> <span class="nd">text-hide</span><span class="p">;</span>
  <span class="p">}</span></code></pre></figure>

</div>