<div class="row text-info pb-2">
  <div class="d-flex col justify-content-start align-items-end">
    <h4 style="margin-bottom: 0;">Families</h4>
    <span class="px-2 small text-uppercase">1-50 of 999 results</span>
  </div>
  <div class="d-flex col justify-content-end align-items-end text-right">
    <div>
      <tn-pagination [collectionSize]="120" [(page)]="page" [maxSize]="1" [ellipses]="false" size="sm" directionLinksPrevious="&lt;" directionLinksNext="&gt;"></tn-pagination>
    </div>
  </div>
</div>
<table class="table table-sortable">
  <thead>
    <tr class="row">
      <th class="col" style="max-width: 2rem;">
        <label style="min-height: 0.7rem;" class="custom-control custom-checkbox mb-0">
          <input type="checkbox" class="custom-control-input" />
          <span class="custom-control-indicator"></span>
        </label>
      </th>
      <th class="col sortable" (click)="sortBy('name')" [ngClass]="{'sort-asc': sortKey === '+name', 'sort-desc': sortKey === '-name'}">Name</th>
      <th class="col sortable" (click)="sortBy('visibleName')" [ngClass]="{'sort-asc': sortKey === '+visibleName', 'sort-desc': sortKey === '-visibleName'}">Visible</th>
      <th class="col sortable" (click)="sortBy('foundry')" [ngClass]="{'sort-asc': sortKey === '+foundry', 'sort-desc': sortKey === '-foundry'}">Foundry</th>
      <th class="col sortable" (click)="sortBy('designer')" [ngClass]="{'sort-asc': sortKey === '+designer', 'sort-desc': sortKey === '-designer'}">Designers</th>
      <th class="col sortable" (click)="sortBy('style')" [ngClass]="{'sort-asc': sortKey === '+style', 'sort-desc': sortKey === '-style'}">Styles</th>
      <th class="col sortable" (click)="sortBy('recommended_size')" [ngClass]="{'sort-asc': sortKey === '+recommended_size', 'sort-desc': sortKey === '-recommended_size'}">Min Size</th>
      <th class="col sortable" (click)="sortBy('recommended_size')" [ngClass]="{'sort-asc': sortKey === '+recommended_size', 'sort-desc': sortKey === '-recommended_size'}">Max Size</th>
      <th class="col sortable" (click)="sortBy('categoryName')" [ngClass]="{'sort-asc': sortKey === '+categoryName', 'sort-desc': sortKey === '-categoryName'}">Categories</th>
      <th class="col sortable" (click)="sortBy('moodName')" [ngClass]="{'sort-asc': sortKey === '+moodName', 'sort-desc': sortKey === '-moodName'}">Moods</th>
      <th class="col sortable" (click)="sortBy('released')" [ngClass]="{'sort-asc': sortKey === '+released', 'sort-desc': sortKey === '-released'}">Release Date</th>
    </tr>
  </thead>
  <tbody>
    <family-row *ngFor='let family of families | orderBy: [sortKey]' [family]=family></family-row>
  </tbody>
</table>