<div class="container-fluid">

 <h1 class="bd-title" id="content">Images</h1>
 <p>Opt your images into responsive behavior (so they never become larger than their parent elements) and add lightweight styles to them—all via classes.</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a [routerLink]="[]" fragment="contents" id="markdown-toc-contents">Contents</a></li>
  <li><a [routerLink]="[]" fragment="responsive-images" id="markdown-toc-responsive-images">Responsive images</a></li>
  <li><a [routerLink]="[]" fragment="image-thumbnails" id="markdown-toc-image-thumbnails">Image thumbnails</a></li>
  <li><a [routerLink]="[]" fragment="aligning-images" id="markdown-toc-aligning-images">Aligning images</a></li>
</ul>

<h2 id="responsive-images">Responsive images</h2>

<p>Images in Bootstrap are made responsive with <code class="highlighter-rouge">.img-fluid</code>. <code class="highlighter-rouge">max-width: 100%;</code> and <code class="highlighter-rouge">height: auto;</code> are applied to the image so that it scales with the parent element.</p>

<div class="bd-example">
  <img src="./assets/img/bootstrap-demo-image-771x250.svg" class="img-fluid" alt="Generic responsive image" />
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"img-fluid"</span> <span class="na">alt=</span><span class="s">"Responsive image"</span><span class="nt">&gt;</span></code></pre></figure>

<div class="bd-callout bd-callout-warning">
<h4 id="svg-images-and-ie-9-10">SVG images and IE 9-10</h4>

<p>In Internet Explorer 9-10, SVG images with <code class="highlighter-rouge">.img-fluid</code> are disproportionately sized. To fix this, add <code class="highlighter-rouge">width: 100% \9;</code> where necessary. This fix improperly sizes other image formats, so Bootstrap doesn’t apply it automatically.</p>
</div>

<h2 id="image-thumbnails">Image thumbnails</h2>

<p>In addition to our <a href="/utilities/borders/">border-radius utilities</a>, you can use <code class="highlighter-rouge">.img-thumbnail</code> to give an image a rounded 1px border appearance.</p>

<div class="bd-example bd-example-images">
  <img src="./assets/img/bootstrap-demo-image-200x200.svg" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera" />
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"img-thumbnail"</span><span class="nt">&gt;</span></code></pre></figure>

<h2 id="aligning-images">Aligning images</h2>

<p>Align images with the <a href="/utilities/responsive-helpers/#responsive-floats">helper float classes</a> or <a href="/utilities/typography/#text-alignment">text alignment classes</a>. <code class="highlighter-rouge">block</code>-level images can be centered using <a href="/utilities/spacing/#horizontal-centering">the <code class="highlighter-rouge">.mx-auto</code> margin utility class</a>.</p>

<div class="bd-example bd-example-images">
  <img src="./assets/img/bootstrap-demo-image-200x200.svg" class="rounded float-left" alt="A generic square placeholder image with rounded corners" />
  <img src="./assets/img/bootstrap-demo-image-200x200.svg" class="rounded float-right" alt="A generic square placeholder image with rounded corners" />
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded float-left"</span> <span class="na">alt=</span><span class="s">"..."</span><span class="nt">&gt;</span>
<span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded float-right"</span> <span class="na">alt=</span><span class="s">"..."</span><span class="nt">&gt;</span></code></pre></figure>

<div class="bd-example bd-example-images">
  <img src="./assets/img/bootstrap-demo-image-200x200.svg" class="rounded mx-auto d-block" alt="A generic square placeholder image with rounded corners" />
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded mx-auto d-block"</span> <span class="na">alt=</span><span class="s">"..."</span><span class="nt">&gt;</span></code></pre></figure>

<div class="bd-example bd-example-images">
  <div class="text-center">
    <img src="./assets/img/bootstrap-demo-image-200x200.svg" class="rounded" alt="A generic square placeholder image with rounded corners" />
  </div>
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text-center"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded"</span> <span class="na">alt=</span><span class="s">"..."</span><span class="nt">&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>

</div>
