<div class="card">
  <div class="card-block card-header card-footer">
    <button class="btn btn-info col my-1"><icon-download class="text-white icon icon-sm"></icon-download> Download All TTFs</button>
    <button class="btn btn-info col my-1"><icon-download class="text-white icon icon-sm"></icon-download> Download All OTFs</button>
    <button class="btn btn-success col my-1"><icon-check class="text-white icon icon-sm"></icon-check> Batch Edit</button>
    <button class="btn btn-danger col my-1"><icon-delete class="text-white icon icon-sm"></icon-delete> Delete</button>
  </div>
  <div class="card-block card-header">
    <form [formGroup]="searchForm" novalidate>
      <span class="row justify-content-between">
        <small><b class="col">SEARCH BY:</b></small>
        <small><a (click)="clearFilters()" class="col text-right">Clear filters</a></small>
      </span>
      <div class="form-group">
        <label for="searchStylesName">Name</label>
        <input class="form-control" formControlName="name" />
      </div>
      <div class="form-group">
        <label for="searchStylesFoundry">Foundry</label>
        <input class="form-control" formControlName="foundry" />
      </div>
      <div class="form-group">
        <label for="searchStylesDesigner">Designer</label>
        <input class="form-control" formControlName="designer" />
      </div>
    </form>
  </div>
  <div class="card-block">
    <form [formGroup]="filterForm" novalidate>
      <fieldset class="card-header">
        <ul class="list-unstyled m-0 small" formArrayName="visible">
          <li class="my-1"><b>VISIBLE</b></li>
          <li class="row" *ngFor="let control of visibilityControls.controls; index as i;">
            <input [id]="'visibility-'+visibilityData[i].name" type="checkbox" class="d-none" [value]="visibilityData[i].value" [formControlName]="i">
            <label [for]="'visibility-'+visibilityData[i].name" class="col-8">{{visibilityData[i].name}}</label>
            <aside class="col-4 text-right text-info">(228)</aside>
          </li>
        </ul>
      </fieldset>
      <fieldset class="card-header">
        <ul class="list-unstyled m-0 small" formArrayName="categories">
          <li class="my-1"><b>CATEGORIES</b></li>
          <li class="row align-items-center" *ngFor="let control of categoryControls.controls; index as i;">
            <input [id]="'category-'+categoryData[i].name" type="checkbox" class="d-none" [value]="categoryData[i].value" [formControlName]="i">
            <label [for]="'category-'+categoryData[i].name" class="col-8">{{categoryData[i].name}}</label>
            <aside class="col-4 text-right text-info">(228)</aside>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
  <div class="card-block">
    <div class="d-flex align-items-center mb-4">
      <small><b>READY FOR SALE?</b></small>
      <aside class="switch-checkbox ml-2">
        <input class="switch-input" type="checkbox" id="ready-for-sale" checked>
        <label class="switch-paddle mb-0" for="ready-for-sale">
          <span class="switch-yes">Yes</span>
        </label>
      </aside>
    </div>
    <div class="d-flex align-items-center mb-4">
      <small><b>HAS TTF?</b></small>
      <aside class="switch-checkbox ml-2">
        <input class="switch-input" type="checkbox" id="has-ttf" checked>
        <label class="switch-paddle mb-0" for="has-ttf">
          <span class="switch-yes">Yes</span>
        </label>
      </aside>
    </div>
    <div class="d-flex align-items-center mb-4">
      <small><b>HAS OTF?</b></small>
      <aside class="switch-checkbox ml-2">
        <input class="switch-input" type="checkbox" id="has-otf" checked>
        <label class="switch-paddle mb-0" for="has-otf">
          <span class="switch-yes">Yes</span>
        </label>
      </aside>
    </div>
    <div class="d-flex align-items-center mb-4">
      <small><b>HAS WEB OTF?</b></small>
      <aside class="switch-checkbox ml-2">
        <input class="switch-input" type="checkbox" id="has-web-otf" checked>
        <label class="switch-paddle mb-0" for="has-web-otf">
          <span class="switch-yes">Yes</span>
        </label>
      </aside>
    </div>
    <div class="d-flex align-items-center mb-4">
      <small><b>DESIGNER ROYALTY?</b></small>
      <aside class="switch-checkbox ml-2">
        <input class="switch-input" type="checkbox" id="designer-royalty" checked>
        <label class="switch-paddle mb-0" for="designer-royalty">
          <span class="switch-yes">Yes</span>
        </label>
      </aside>
    </div>
  </div>
</div>