<div class="container-fluid">

  <h1 class="bd-title" id="content">Pagination</h1>
  <p>Pagination links indicate a series of related content exists across multiple pages. Typically these are used where a multi-page approach to long lists of content improves general performance, such as in search results or inboxes.</p>

  <h2>TN Pagination</h2>

  <div class="bd-example">

    <div>TN Pagination</div>
    <tn-pagination [collectionSize]="120" [(page)]="page" [maxSize]="1" [ellipses]="true" size="sm" directionLinksPrevious="&lt;" directionLinksNext="&gt;"></tn-pagination>
  </div>
  <div class="highlight"><pre class="language-html"><code class="language-html">
  <span class="nt">&lt;tn-pagination</span> <span class="token na">[collectionSize]</span><span class="token s">="120"</span> <span class="token na">[(page)]</span><span class="token s">="page"</span> <span class="token na">[maxSize]</span><span class="token s">="1"</span> <span class="token na">[ellipses]</span><span class="token s">="true"</span> <span class="token na">size</span><span class="token s">="sm"</span><span class="nt">&gt; &lt;/tn-pagination&gt;</span>
  </code></pre></div>

</div>