<div class="modal-header text-info justify-content-between align-items-end">
    <h4 class="modal-title">Sign in to your account</h4>
    <span class="text-right">Or, <a class="disabled" aria-disabled="true">create a new account</a>.</span>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-body">
    <form novalidate>
      <div class="form-group">
        <label class="small" for="username">Email</label>
        <input class="form-control" type="email" name="username" required [(ngModel)]="credentials.username" #username="ngModel">
        <p class="text-danger" *ngIf="username.errors && (username.dirty || username.touched)">
          <span>
            Your email is required.
          </span>
        </p>
      </div>
      <div class="form-group">
        <label class="small" for="password">Password</label>
        <input class="form-control" type="password" name="password" required [(ngModel)]="credentials.password" #password="ngModel">
        <p class="text-danger" *ngIf="password.errors && (password.dirty || password.touched)">
          <span>
            Password is required.
          </span>
        </p>
      </div>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="activeModal.close('Cross click')">Close</button>
    <button type="submit" class="btn btn-success login" [ngClass]="{'disabled': username.errors || password.errors}" (click)="login()">
      Sign in
    </button>
      <span *ngIf="loading">Loading...</span>
  </div>
</div>