<table class="table table-sortable">
  <thead>
    <tr class="row">
      <th class="col" (click)="sortBy('id')">
        <span >Order number</span>
      </th>
      <th class="col" (click)="sortBy('licensee_last_name')">
        <span >Customer</span>
      </th>
      <th class="col" (click)="sortBy('total')">
        <span >Amount</span>
      </th>
      <th class="col">
        <span >Date</span>
      </th>
      <th class="col" (click)="sortBy('status')">
        <span >Status</span>
      </th>
      <th class="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <order-row *ngFor='let order of orders | orderBy: [sortKey]' [order]=order></order-row>
  </tbody>
</table>
