<div class="row text-info pb-2">
  <div class="d-flex col justify-content-start align-items-end">
    <h4 style="margin-bottom: 0;">Orders</h4>
    <span class="px-2 small text-uppercase">{{pageItems[0]+1}}-{{pageItems[1]}} of {{orders.length}} results</span>
  </div>
  <div class="d-flex col justify-content-end align-items-end text-right">
    <div class="text-uppercase small px-3">
      <span style="cursor: pointer;" class="px-1" (click)="expandAll()">Expand all</span>
      <span> | </span>
      <span style="cursor: pointer;" class="px-1" (click)="collapseAll()">Collapse all</span>
    </div>
    <div *ngIf="orders.length">
      <tn-pagination [collectionSize]="orders.length" [pageSize]="pageSize" (pageItemsChanges)="updatePageItems($event)" [ellipses]="false" size="sm" directionLinksPrevious="&lt;" directionLinksNext="&gt;"></tn-pagination>
    </div>
  </div>
</div>
<table class="table table-sortable">
  <thead>
    <tr class="row">
      <th class="col sortable" (click)="sortBy('id')" [ngClass]="{'sort-asc': sortKey === '+id', 'sort-desc': sortKey === '-id'}">Order number</th>
      <th class="col sortable" (click)="sortBy('licensee_last_name')" [ngClass]="{'sort-asc': sortKey === '+licensee_last_name', 'sort-desc': sortKey === '-licensee_last_name'}">Customer</th>
      <th class="col sortable" (click)="sortBy('total')" [ngClass]="{'sort-asc': sortKey === '+total', 'sort-desc': sortKey === '-total'}">Amount</th>
      <th class="col sortable" (click)="sortBy('created')"  [ngClass]="{'sort-asc': sortKey === '+created', 'sort-desc': sortKey === '-created'}">Date</th>
      <th class="col sortable" (click)="sortBy('statusName')" [ngClass]="{'sort-asc': sortKey === '+statusName', 'sort-desc': sortKey === '-statusName'}">Status</th>
      <th class="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody *ngIf="orders.length">
    <order-row *ngFor='let order of orders | orderBy: [sortKey] | slice:pageItems[0]:pageItems[1]' [order]=order [collapseSubject]="collapseState$"></order-row>
  </tbody>
</table>
