<div class="card">
  <div class="card-block card-header">
    <button class="btn btn-success col"><icon-create class="text-white icon icon-sm"></icon-create> New Order</button>
  </div>
  <div class="card-block card-header">
    <form [formGroup]="searchForm" novalidate>
      <span class="row justify-content-between">
        <small><b class="col">SEARCH BY:</b></small>
        <small><a (click)="clearSearch()" class="col text-right">Clear all</a></small>
      </span>
      <div class="form-group">
        <label for="searchOrderNumber">Order Number</label>
        <input class="form-control" formControlName="id" />
      </div>
      <div class="form-group">
        <label for="searchOrderNumber">Date Range</label>
        <div class="input-group">
            <!-- to do add "start" label for the datepicked -->
            <datepicker (dateUpdate)="updateDate($event, 'from')"></datepicker>
        </div>
        <div class="input-group">
            <!-- to do add "start" label for the datepicked -->
            <datepicker (dateUpdate)="updateDate($event, 'to')"></datepicker>
        </div>
      </div>
      <div class="form-group">
        <label for="searchCustomer">Customer</label>
        <input class="form-control" formControlName="customer" aria-describedby="searchCustomerHelp"/>
        <small id="searchCustomerHelp" class="form-text text-muted">Name, email address, or company (licensee name/company)</small>
      </div>
      <div class="form-group">
        <label for="searchProject">Project</label>
        <input class="form-control" formControlName="project" aria-describedby="searchProjectHelp"/>
        <small id="searchProjectHelp" class="form-text text-muted">Project name, URL</small>
      </div>
      <div class="form-group">
        <label for="searchFont">Family or Style</label>
        <input class="form-control" formControlName="font" />
      </div>
      <div class="form-group">
        <label for="searchFoundry">Foundry or Designer</label>
        <dropdown-input [options]="foundryList" (optionsChange)="updateFoundry($event)"></dropdown-input>
      </div>
    </form>
  </div>
  <div class="card-block">
    <form [formGroup]="filterForm" novalidate>
      <span class="row justify-content-between">
        <b class="col text-primary">FILTER BY:</b>
        <span (click)="clearFilters()" class="col text-right text-info" style="cursor: pointer;"><small><b>Clear filters</b></small></span>
      </span>
      <fieldset class="card-header">
        <ul class="list-unstyled m-0 small" formArrayName="licenses">
          <li class="my-1"><b>LICENSES</b></li>
          <li class="row" *ngFor="let control of licenseControls.controls; index as i;">
            <input [id]="'license-'+licenseData[i].name" type="checkbox" class="d-none" [value]="licenseData[i].value" [formControlName]="i">
            <label [for]="'license-'+licenseData[i].name" class="col-8">{{licenseData[i].name}}</label>
            <aside class="col-4 text-right text-info">(228)</aside>
          </li>
        </ul>
      </fieldset>
      <fieldset class="card-header">
        <ul class="list-unstyled m-0 small" formArrayName="status">
          <li class="my-1"><b>STATUS</b></li>
          <li class="row align-items-center" *ngFor="let control of statusControls.controls; index as i;">
            <input [id]="'status-'+statusData[i].name" type="checkbox" class="d-none" [value]="statusData[i].value" [formControlName]="i">
            <label [for]="'status-'+statusData[i].name" class="col-8">{{statusData[i].name}}</label>
            <aside class="col-4 text-right text-info">(228)</aside>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
</div>