@import "~bootstrap/scss/buttons";

 // update a cursor style for disabled button links
a.btn.disabled {
  pointer-events: auto;
}

.btn {
  // update button defaults to match TN editorial mockups
  min-width: 10rem;
  font-size: $font-size-sm;
  margin: 0.25rem 0;
}