@import "~bootstrap/scss/dropdown";

.dropdown {
  icon-select {
    position: absolute;
    right: 0.5rem;
    top: 30%;
  }

  .btn-sm {
    icon-select {
      top: auto;
    }
  }

  icon-close {
    position: absolute;
    left: 0.5rem;
    top: 0.35rem;
    fill: $blue;
    font-size: 0.5rem;
  }

  .dropdown-menu {
    min-width: auto;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .dropdown-toggle {
    &:after {
      border: none;
    }

    &:focus {
      box-shadow: none;
    }

    &.btn,
    &.custom-select {
      cursor: pointer;
      font-weight: $font-weight-bold;

      &:hover,
      &:active,
      &:focus {
        background-color: $white;
      }
    }
  }

  .list-group-flush {
    border-top: none;
    border-left: 1px lighten($gray-lightest, 10%) solid;
    border-right: 1px lighten($gray-lightest, 10%) solid;
    border-bottom: 1px lighten($gray-lightest, 10%) solid;
    
    &:first-child {
      border-top: 0;
    }

    .list-group-item {
      cursor: pointer;
      font-size: $font-size-sm;
      font-weight: 600;

      &:hover,
      &.selected {
        color: $blue;
        background: rgba($gray-lightest,.25);
      }

      label {
        text-transform: none;
        color: $black;
        cursor: inherit;
      }

      .custom-control {
        min-height: auto;
        margin: 0.25rem 0;
        width: 100%;
      }
    }
  }
}
