
$ui-font-path: "/assets/css/fonts/";

@font-face {
    font-family: 'AdobeBlank';
    src:
        url(#{$ui-font-path}AdobeBlank?iefix) format('embedded-opentype'),
        url(#{$ui-font-path}AdobeBlank.woff) format('woff'),
        url(#{$ui-font-path}AdobeBlank.ttf) format('truetype'),
        url(#{$ui-font-path}AdobeBlank.svg#web) format('svg');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'MomentumSansDeck';
    src:
        url(#{$ui-font-path}MomentumSansDeck-Seventy?iefix) format('embedded-opentype'),
        url(#{$ui-font-path}MomentumSansDeck-Seventy.woff) format('woff'),
        url(#{$ui-font-path}MomentumSansDeck-Seventy.ttf) format('truetype'),
        url(#{$ui-font-path}MomentumSansDeck-Seventy.svg#web) format('svg');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'MomentumSansDeck';
    src:
        url(#{$ui-font-path}MomentumSansDeck-Eighty?iefix) format('embedded-opentype'),
        url(#{$ui-font-path}MomentumSansDeck-Eighty.woff) format('woff'),
        url(#{$ui-font-path}MomentumSansDeck-Eighty.ttf) format('truetype'),
        url(#{$ui-font-path}MomentumSansDeck-Eighty.svg#web) format('svg');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'MomentumSansDeck';
    src:
        url(#{$ui-font-path}MomentumSansDeck-Ninety?iefix) format('embedded-opentype'),
        url(#{$ui-font-path}MomentumSansDeck-Ninety.woff) format('woff'),
        url(#{$ui-font-path}MomentumSansDeck-Ninety.ttf) format('truetype'),
        url(#{$ui-font-path}MomentumSansDeck-Ninety.svg#web) format('svg');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'MomentumSansDeck';
    src:
        url(#{$ui-font-path}MomentumSansDeck-Hundred?iefix) format('embedded-opentype'),
        url(#{$ui-font-path}MomentumSansDeck-Hundred.woff) format('woff'),
        url(#{$ui-font-path}MomentumSansDeck-Hundred.ttf) format('truetype'),
        url(#{$ui-font-path}MomentumSansDeck-Hundred.svg#web) format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'MomentumSansDeck';
    src:
        url(#{$ui-font-path}MomentumSansDeck-HundredTen?iefix) format('embedded-opentype'),
        url(#{$ui-font-path}MomentumSansDeck-HundredTen.woff) format('woff'),
        url(#{$ui-font-path}MomentumSansDeck-HundredTen.ttf) format('truetype'),
        url(#{$ui-font-path}MomentumSansDeck-HundredTen.svg#web) format('svg');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'MomentumSansDeck';
    src:
        url(#{$ui-font-path}MomentumSansDeck-HundredThirty?iefix) format('embedded-opentype'),
        url(#{$ui-font-path}MomentumSansDeck-HundredThirty.woff) format('woff'),
        url(#{$ui-font-path}MomentumSansDeck-HundredThirty.ttf) format('truetype'),
        url(#{$ui-font-path}MomentumSansDeck-HundredThirty.svg#web) format('svg');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'MomentumSansDeck';
    src:
        url(#{$ui-font-path}MomentumSansDeck-HundredFifty?iefix) format('embedded-opentype'),
        url(#{$ui-font-path}MomentumSansDeck-HundredFifty.woff) format('woff'),
        url(#{$ui-font-path}MomentumSansDeck-HundredFifty.ttf) format('truetype'),
        url(#{$ui-font-path}MomentumSansDeck-HundredFifty.svg#web) format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'MomentumSansText';
    src:
        url(#{$ui-font-path}MomentumSansText-Hundred?iefix) format('embedded-opentype'),
        url(#{$ui-font-path}MomentumSansText-Hundred.woff) format('woff'),
        url(#{$ui-font-path}MomentumSansText-Hundred.ttf) format('truetype'),
        url(#{$ui-font-path}MomentumSansText-Hundred.svg#web) format('svg');
    font-style: normal;
    font-weight: 400;
}
