@import "variables";
@import "~bootstrap/scss/forms";

//
// Textual form controls
//

.form-control {
  font-size: $font-size-sm;
}

.form-check-label {
  color: $gray-dark;
}

.form-check.disabled {
  .form-check-label {
    opacity: 0.5;
  }
}

input:disabled {
  opacity: 0.5;
}
