@import "~bootstrap/scss/list-group";

.list-group-flush {
  .list-group-item {
    @extend .border-0;
    @extend .justify-content-between;
    padding: 0;
    font-size: $font-size-sm;
    font-weight: 500;
  }
}