@import "~bootstrap/scss/list-group";

.list-group {
  font-size: $font-size-sm;

  &.list-group-flush {
    .list-group-item {
      border: none;
      padding: 0;
      font-weight: 500;
    }
  }
}
