@import "~bootstrap/scss/modal";

.modal-content {
    padding: 1rem;
    color: $gray-lighter;

  // override headers font-weight to match mockups examples
  .modal-header h1, h2, h3, h4, h5, h6 {
    font-weight: $lead-font-weight;
  }

  .modal-body {
    padding: 1rem 0;
    min-height: 8rem;
    border-bottom: 1px solid $gray-lightest;
    font-size: $font-size-sm;
    color: $gray-dark;
  }

  .modal-footer {
    padding: 1.5rem 0 0.5rem 0;
    justify-content: center;
  }
  
  // override close icon style rules inside a modal template
  .close {
    font-size: 2.5rem;
    font-weight: normal;
    position: absolute;
    top: -0.1rem;
    right: 0.5rem;
  }
}

@include media-breakpoint-up(md) {
  .modal-lg { 
    max-width: $modal-lg;  

    .modal-dialog {
      max-width: $modal-lg; 
    } 
  }
}
