@import "~bootstrap/scss/modal";

.modal-content {
  padding: 1rem;

  // override headers font-weight to match mockups examples
  .modal-header h1, h2, h3, h4, h5, h6 {
    font-weight: $lead-font-weight;
    line-height: 1.2;
  }

  .modal-body {
    padding: 1rem 0;
    min-height: 8rem;
    font-size: $font-size-sm;
    color: $gray-dark;
  }

  .modal-footer {
    padding: 1.5rem 0 0.5rem 0;
    justify-content: center;
    border-top: 1px solid $gray-lightest;
  }
  
  // override close icon style rules inside a modal template
  .close {
    font-size: 2.5rem;
    font-weight: normal;
    position: absolute;
    top: -0.1rem;
    right: 0.5rem;
  }

  label {
    margin: 0;
  }
}

// tn login modal should be vertically centered, this will not affect modal components
.modal-vert-centered {
  display: flex !important;
  align-items: center;
}

.full-size {
  .modal-dialog {
    max-width: 84%;
  }
  .summary {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 1rem;
      width: 1rem;
      right: 49.5%;
      border-style: solid;
      border-color: transparent rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) transparent;
      border-width: 0.05rem;
      transform: rotate(45deg);
      top: -1.55rem;
      background: $white;
    }
  }
  @include media-breakpoint-down(md) {
    .modal-dialog {
      max-width: 96%;
    }
  }
}

@include media-breakpoint-up(md) {
  .modal-lg { 
    max-width: $modal-lg;  

    .modal-dialog {
      max-width: $modal-lg; 
    } 
  }
}

// some of the TN modal have an action bar on the top side
.modal-action-bar {
  margin: -1rem -1rem 0 -1rem;
  background: $yellow;

  // remove shadows to prevent overlapping the toolbar's borders
  .btn {
    &:focus {
      box-shadow: none;
    }
  }
}
