@import "variables";
@import "~bootstrap/scss/pagination";

.page-item {

  .page-link {
    // reduce line height to even out height and width of the pagination elements
    line-height: 1.1;
  }

  &:first-child {
    .page-link {
      margin-right: 1px;
      border: 1px solid $gray-lightest;
      border-radius: 0.15rem;
    }
  }
  &:last-child {
    .page-link {
      margin-left: 1px;
      border: 1px solid $gray-lightest;
      border-radius: 0.15rem;
    }
  }
}