
.sidebar {
  position: fixed;
  width: $sidebar-width;
  overflow-y: auto; 
  top: $navbar-height;
  bottom: 0;
  padding: 2.625rem;

  @include media-breakpoint-down(md) {
    top: $navbar-collapsed-height;
  }

  dl {
    font-size: $font-size-sm;

    dt {
        font-weight: 600;
    }
  }
}