
.sidebar {
  position: fixed;
  width: $sidebar-width;
  overflow-y: auto; 
  top: $navbar-height;
  bottom: 0;
  padding: 2.625rem;

  @include media-breakpoint-down(md) {
    top: $navbar-collapsed-height;
  }

  .card-block {
    font-size: $font-size-sm;
    
    ul label {
      cursor: pointer;
      font-weight: 600;
      text-transform: none;
      color: $gray;
      position: relative;
      font-size: $font-size-base * 0.75;
      margin-bottom: 0.2rem;
    }

    input:checked + label:before {
      position: absolute;
      content: "\00d7";
      font-size: $font-size-sm * 1.4;
      line-height: 1;
      margin-left: -$font-size-sm;
    }
  }
}