<tr class="row" [ngClass]="{'row-selected': isChecked}">
  <td class="col align-self-center pl-2" style="max-width: 2.5rem;">
    <label class="custom-control custom-checkbox checkbox-sm">
      <input type="checkbox" class="custom-control-input" value='{{style.id}}' (click)='selectStyle()' />
      <span class="custom-control-indicator"></span>
    </label>
  </td>
  <td class="col" [ngClass]="{'toggled': !isCollapsed }" style="cursor: pointer;"
  (click)='isCollapsed = !isCollapsed' [attr.aria-expanded]='!isCollapsed' 
  [attr.aria-controls]='style'>
    <i>
      <icon-right-arrow></icon-right-arrow>
    </i>
    <b>{{style.name}}</b>
  </td>
  <td class="col">{{style.visibleName}}</td>
  <td class="col">
    <ul class="list-unstyled">
      <li *ngFor='let foundry of style.foundry'>{{foundry ? foundry.name : ''}}</li>
    </ul>
  </td>
  <td class="col">
    <ul class="list-unstyled">
      <li *ngFor='let designer of style.designer'>{{designer ? designer.name : ''}}</li>
    </ul>
  </td>
  <td class="col">
    {{style.opticalName}}
    </td>
  <td class="col">{{style.weightName}}</td>
  <td class="col">{{style.widthName}}</td>
  <td class="col">{{style.postureName}}</td>
  <td class="col">{{style.min_recommended_size}}</td>
  <td class="col">{{style.max_recommended_size}}</td>
</tr>
<tr class="row border-0">
  <table class="table no-borders col table-active" [attr.id]='style' [ngbCollapse]='isCollapsed'>
    <thead class="row">
      <th class="col" style="max-width: 2.5rem;"></th>
      <th class="col">
        Release Date
        <div>
          <button class="btn btn-sm btn-info w-75" (click)="openStyleSingleEdit()"><icon-pencil class="text-white icon icon-sm"></icon-pencil> Edit</button>
        </div>     
      </th>
      <th class="col">Base Price</th>
      <th class="col">Default Style</th>
      <th class="col"></th>
      <th class="col"></th>
      <th class="col"></th>
      <th class="col"></th>
      <th class="col"></th>
      <th class="col"></th>
      <th class="col"></th>
    </thead>
    <tbody class="row">
      <td class="col" style="max-width: 2.5rem;"></td>
      <td class="col">
        {{style.released | date:"MM/dd/yyyy" }}
      </td>
      <td class="col">{{style.base_price | currency:'USD':true:'1.2-2'}}</td>
      <td class="col">{{style.default_style}}</td>
      <td class="col"></td>
      <td class="col"></td>
      <td class="col"></td>
      <td class="col"></td>
      <td class="col"></td>
      <td class="col"></td>
      <td class="col"></td>
    </tbody>
  </table>
</tr>
