
<nav class="fixed-top navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right hidden-md-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
    <img src="./assets/img/type-network.svg" style="height: 25px;"/>
  </a>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse justify-content-center ">
    <ul class="navbar-nav navbar-inverse primary-nav">
      <li class="nav-item dropdown" [ngClass]="{ show: currentUrl.indexOf('layout')  !== -1 }">
        <a class="nav-link dropdown-toggle" routerLink="layout" id="LayoutPrimaryMenuItem" routerLinkActive="active">Layout</a>
        <div class="dropdown-menu bg-faded col justify-content-center" aria-labelledby="LayoutPrimaryMenuItem">
          <div style="width: 130px"></div>
          <a class="nav-link" routerLink="layout/overview" routerLinkActive="active">Overview</a>
          <a class="nav-link" routerLink="layout/grid" routerLinkActive="active">Grid</a>
          <a class="nav-link" routerLink="layout/media-object" routerLinkActive="active">Media Object</a>
          <a class="nav-link" routerLink="layout/responsive-utilities" routerLinkActive="active">Responsive Utilities</a>
        </div>
      </li>
      <li class="nav-item dropdown" [ngClass]="{ show: currentUrl.indexOf('content') !== -1 }">
        <a class="nav-link dropdown-toggle" routerLink="content" id="ContentPrimaryMenuItem" routerLinkActive="active">Content</a>
        <div class="dropdown-menu bg-faded col justify-content-center" aria-labelledby="ContentPrimaryMenuItem">
          <div style="width: 130px"></div>
          <a class="nav-link" routerLink="content/reboot" routerLinkActive="active">Reboot</a>
          <a class="nav-link" routerLink="content/typography" routerLinkActive="active">Typography</a>
          <a class="nav-link" routerLink="content/code" routerLinkActive="active">Code</a>
          <a class="nav-link" routerLink="content/images" routerLinkActive="active">Images</a>       
          <a class="nav-link" routerLink="content/tables" routerLinkActive="active">Tables</a>    
          <a class="nav-link" routerLink="content/figures" routerLinkActive="active">Figures</a>    
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link">Components</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link">Utilities</a>
      </li>
    </ul>
 </div>
</nav>


