<tr class="row" [ngClass]="{'row-selected': isChecked}">
  <td>
    <label class="custom-control custom-checkbox checkbox-sm">
      <input type="checkbox" class="custom-control-input" value='{{series.id}}' (click)='selectSeries()' />
      <span class="custom-control-indicator"></span>
    </label>
  </td>
  <td class="col">{{series.name}}</td>
  <td class="col">{{series.foundry ? series.foundry.name : ''}}</td>
  <td class="col">
    <ul class="list-unstyled">
      <li *ngFor='let family of series.family'>{{family.name}}</li>
    </ul>
  </td>
  <td class="col">{{series.styles}}</td>
  <td class="col">{{series.released | date:"MM/dd/yyyy"}}</td>
</tr>
