<div class="container-fluid">

  <h1 class="bd-title" id="content">Display property</h1>
  <p>Use <code class="highlighter-rouge">.d-block</code>, <code class="highlighter-rouge">.d-inline</code>, or <code class="highlighter-rouge">.d-inline-block</code> to simply set an element’s <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/display"><code class="highlighter-rouge">display</code> property</a> to <code class="highlighter-rouge">block</code>, <code class="highlighter-rouge">inline</code>, or <code class="highlighter-rouge">inline-block</code> (respectively).</p>

  <p>To make an element <code class="highlighter-rouge">display: none</code>, use our <a href="/layout/responsive-utilities/">responsive utilities</a> instead.</p>

  <div class="bd-example" data-example-id="">
  <div class="d-inline bg-success">Inline</div>
  <div class="d-inline bg-success">Inline</div>
  </div>
  <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-inline bg-success"</span><span class="nt">&gt;</span>Inline<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-inline bg-success"</span><span class="nt">&gt;</span>Inline<span class="nt">&lt;/div&gt;</span></code></pre></div>

  <div class="bd-example" data-example-id="">
  <span class="d-block bg-primary">Block</span>
  </div>
  <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"d-block bg-primary"</span><span class="nt">&gt;</span>Block<span class="nt">&lt;/span&gt;</span></code></pre></div>

  <div class="bd-example" data-example-id="">
  <div class="d-inline-block bg-warning">
    <h3>inline-block</h3>
    Boot that strap!
  </div>
  <div class="d-inline-block bg-warning">
    <h3>inline-block</h3>
    Strap that boot!
  </div>
  </div>
  <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-inline-block bg-warning"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3&gt;</span>inline-block<span class="nt">&lt;/h3&gt;</span>
    Boot that strap!
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"d-inline-block bg-warning"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3&gt;</span>inline-block<span class="nt">&lt;/h3&gt;</span>
    Strap that boot!
  <span class="nt">&lt;/div&gt;</span></code></pre></div>

</div>