<tr class="row">
  <td class="col" [ngClass]="{'toggled': !isCollapsed }" style="cursor: pointer;"
  (click)='isCollapsed = !isCollapsed' [attr.aria-expanded]='!isCollapsed' 
  [attr.aria-controls]='order'>
    <i>
      <icon-right-arrow></icon-right-arrow>
    </i>
    <b>{{order.id}}</b>
  </td>
  <td class="col">{{order.licensee_last_name}}, {{order.licensee_first_name}}</td>
  <td class="col">{{order.total | currency:'USD':true:'1.2-2'}}</td>
  <td class="col">{{order.created | date:"MM/dd/yyyy"}}</td>
  <td class="col">{{order.status | myOrderStatus}}</td>
  <td class="col"><button class="btn btn-sm btn-outline-info">IMPERSONATE</button></td>
</tr>

<tr class="row border-0">
  <table class="table no-borders col" [attr.id]='order' [ngbCollapse]='isCollapsed'>
    <thead class="row table-active">
      <th class="col"><b>Order Summary</b></th>
      <th class="col">Families purchased:</th>
      <th class="col">License types:</th>
      <th class="col">Total styles:</th>
      <th class="col">New vs. returning</th>
      <th class="col">Download PDF</th>
    </thead>
    <tbody class="row table-active">
      <th class="col"></th>
      <td class="col">
        <ul>
          <li *ngFor='let family of families'>{{family}}</li>
        </ul>
      </td>
      <td class="col">
        <ul>
          <li *ngFor='let license of order.licenses'>{{license | myLicenseType}}</li>
        </ul>
      </td>
      <td class="col">{{order.totalStyles}}</td>
      <td class="col">{{order.returning}}</td>
      <td class="col">1854</td>
    </tbody>
  </table>
</tr>
