<tr class="row">
  <td class="col" [ngClass]="{'toggled': !isCollapsed }" style="cursor: pointer;"
  (click)='isCollapsed = !isCollapsed' [attr.aria-expanded]='!isCollapsed' 
  [attr.aria-controls]='order'>
    <i>
      <icon-right-arrow></icon-right-arrow>
    </i>
    <b>{{order.id}}</b>
  </td>
  <td class="col">{{order.licensee.last_name}}, {{order.licensee.first_name}}</td>
  <td class="col">{{order.total | currency:'USD':true:'1.2-2'}}</td>
  <td class="col">{{order.created | date:"MM/dd/yyyy"}}</td>
  <td class="col">{{order.statusName}}</td>
  <td class="col"><button class="btn rounded btn-sm btn-outline-info">IMPERSONATE</button></td>
</tr>

<tr class="row border-0">
  <table class="table no-borders col table-active" [attr.id]='order' [ngbCollapse]='isCollapsed'>
    <thead class="row">
      <th class="col">
        <div>
          <b class="text-primary">Order Summary</b>
        </div>
      </th>
      <th class="col">Families purchased:</th>
      <th class="col">License types:</th>
      <th class="col">Total styles:</th>
      <th class="col">New vs. returning</th>
      <th class="col">Download PDF</th>
    </thead>
    <tbody class="row">
      <td class="col">
        <button class="btn btn-sm btn-info w-50" (click)="openOrderDetails()"><icon-pencil class="text-white icon icon-sm"></icon-pencil> Edit</button>
      </td>
      <td class="col">
        <ul class="list-unstyled list-hyphen">
          <li *ngFor='let family of families'>{{family}}</li>
        </ul>
      </td>
      <td class="col">
        <ul class="list-unstyled list-hyphen">
          <li *ngFor='let license of order.licenseTypes'>{{license}}</li>
        </ul>
      </td>
      <td class="col">{{order.licenses.length}}</td>
      <td class="col">{{order.new_customer_name}}</td>
      <td class="col">1854</td>
    </tbody>
  </table>
</tr>
