<form>
  <div class="form-group">
    <div class="input-group">
      <input style="border-right: none;" class="form-control date-input" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <div style="border-left: none;" class="input-group-addon" (click)="d.toggle()" >
        <img src="./assets/img/calendar-icon.svg" />
      </div>
    </div>
  </div>
</form>

<!-- @todo: Use these SVG components (caret-left-icon and caret-right-icon)
     as the next and previous buttons for the calendar
-->
<!--
<div caret-left-icon></div>
<div caret-right-icon></div>
-->
