<tn-navbar></tn-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar border-right-gradient-inset">
            <div class="card" *ngIf="currentUrl.indexOf('layout')  !== -1">
                <div class="card-block">
                    <h5 class="card-title"><u>Layout</u></h5>
                    <nav class="nav flex-column">
                        <a routerLink="layout/overview" routerLinkActive="active"><small>Overview</small></a>
                        <a routerLink="layout/grid" routerLinkActive="active"><small>Grid</small></a>
                        <a routerLink="layout/media-object" routerLinkActive="active"><small>Media Object</small></a>
                        <a routerLink="layout/responsive-utilities" routerLinkActive="active"><small>Responsive Utilities</small></a>
                    </nav>
                </div>
            </div>

            <div class="card" *ngIf="currentUrl.indexOf('content')  !== -1">
                <div class="card-block">
                    <h5 class="card-title"><u>Content</u></h5>
                    <nav class="nav flex-column">
                        <a routerLink="content/reboot" routerLinkActive="active"><small>Reboot</small></a>
                        <a routerLink="content/typography" routerLinkActive="active"><small>Typography</small></a>
                        <a routerLink="content/code" routerLinkActive="active"><small>Code</small></a>
                        <a routerLink="content/images" routerLinkActive="active"><small>Images</small></a>
                        <a routerLink="content/tables" routerLinkActive="active"><small>Tables</small></a>
                        <a routerLink="content/figures" routerLinkActive="active"><small>Figures</small></a>
                    </nav>
                </div>
            </div>

            <div class="card" *ngIf="currentUrl.indexOf('components')  !== -1">
                <div class="card-block">
                    <h5 class="card-title"><u>Components</u></h5>
                    <nav class="nav flex-column">
                        <a routerLink="components/alerts" routerLinkActive="active"><small>Alerts</small></a>
                        <a routerLink="components/collapse" routerLinkActive="active"><small>Collapse</small></a>
                        <a routerLink="components/modal" routerLinkActive="active"><small>Modals</small></a>
                        <a routerLink="components/pagination" routerLinkActive="active"><small>Pagination</small></a>                        
                    </nav>
                </div>
            </div>
            
            <div class="card" *ngIf="currentUrl.indexOf('utilities')  !== -1">
                <div class="card-block">
                    <h5 class="card-title"><u>Utilities</u></h5>
                    <nav class="nav flex-column">
                        <a routerLink="utilities/borders" routerLinkActive="active"><small>Borders</small></a>
                        <a routerLink="utilities/clearfix" routerLinkActive="active"><small>Clearfix</small></a>
                        <a routerLink="utilities/close-icon" routerLinkActive="active"><small>Close Icon</small></a>
                        <a routerLink="utilities/flexbox" routerLinkActive="active"><small>Flexbox</small></a>
                        <a routerLink="utilities/display-property" routerLinkActive="active"><small>Display Property</small></a>
                        <a routerLink="utilities/invisible-content" routerLinkActive="active"><small>Invisible Content</small></a>
                        <a routerLink="utilities/image-replacement" routerLinkActive="active"><small>Image Replacement</small></a>
                    </nav>
                </div>
            </div>

        </div>
        <div class="col content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
