<div class="d-flex justify-content-between modal-action-bar">
  <span class="mx-2 ml-lg-5 small text-primary align-self-center">
    You are editing this item.
  </span>
  <div class="d-flex flex-xl-row flex-column text-right">
    <button class="btn btn-info mr-xl-5" type="button" (click)="activeModal.close('Cross click')">
      <icon-close class="icon icon-sm text-white"></icon-close> Cancel
    </button>
    <button class="btn btn-success mr-xl-5" type="button">
      <icon-check class="icon icon-sm text-white"></icon-check> Save
    </button>
  </div>
</div>

<div class="mx-7">
  <div class="modal-header">
    <h4 class="modal-title text-info">Order details: <span class="text-primary">#22</span></h4>
    <span class="font-weight-bold">October 20, 2016</span>
  </div>
  <div class="row justify-content-between my-2">
    <div class="col">
      <button style="min-width: 7rem;" class="btn rounded btn-outline-danger mr-2" type="button">Cancel Order</button>
      <button style="min-width: 7rem;" class="btn rounded btn-outline-info mr-2" type="button">Download PDF</button>
      <button style="min-width: 7rem;" class="btn rounded btn-outline-info mr-2" type="button">Impersonate</button>
    </div>
    <div class="col text-right align-self-center small">
      <b class="text-info">Status:</b>
      <b>Completed</b>
    </div>
  </div>
  <div class="modal-body">
    <div class="row text-info">
      <b style="white-space: nowrap; flex-grow: 0;" class="col align-self-center">ORDER INFORMATION</b>
      <hr class="col mr-2">
    </div>
    <div class="row mb-5">
      <ul class="col-4 list-unstyled">
        <li class="my-3">
          <span class="text-info">CUSTOMER:</span>
        </li>
        <li>
          <span class="font-weight-bold h5">Robert Robins</span>
        </li>
        <li>
          <span class="font-weight-bold h6">West World HQ</span>
        </li>
        <li>
          <span class="h6">373 Broadway</span>
        </li>
        <li>
          <span class="h6">Suite F7</span>
        </li>
        <li>
          <span class="h6">NewYork, NY 10012</span>
        </li>
        <li>
          <span class="h6">United States</span>
        </li>
        <li class="mt-4">
          <span class="h6">bobby@westworld.com</span>
        </li>
        <li>
          <span class="h6">(414) 354-2366 x101</span>
        </li>
      </ul>
      <ul class="col-4 list-unstyled">
        <li class="my-3">
          <span class="text-info">PAYMENT:</span>
        </li>
        <li>
          <span class="h6"><span class="font-weight-bold">Type:</span> Mastercard</span>
        </li>
        <li>
          <span class="h6"><span class="font-weight-bold">Number:</span> ****-****-****-5674</span>
        </li>
      </ul>
      <ul class="col-4 list-unstyled">
        <li class="my-3">
          <span class="text-info">LICENSEE:</span>
        </li>
        <li>
          <span class="font-weight-bold h5">John Rogers</span>
        </li>
        <li>
          <span class="font-weight-bold h6">West Comfort, Inc.</span>
        </li>
        <li>
          <span class="h6">373 Broadway</span>
        </li>
        <li>
          <span class="h6">Suite F7</span>
        </li>
        <li>
          <span class="h6">NewYork, NY 10012</span>
        </li>
        <li>
          <span class="h6">United States</span>
        </li>
      </ul>
    </div>

    <div class="row align-items-end">
      <h5 class="col mb-0">Licenses</h5>
      <div class="col text-uppercase text-right small font-weight-bold">
        <span class="px-1 text-info">Sort by:</span>
        <span class="px-1 text-info">License type</span>
        <span class="text-primary">Font family</span>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr class="row">
          <th class="col-4">
            <icon-close class="pr-2 icon icon-sm">
            </icon-close><b>2 families, 2 styles</b>
          </th>
          <th class="col-4"><b>Licenses</b></th>
          <th class="col-2"><b>Expiration date</b></th>
          <th class="col-2"><b>Cost</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="pt-4">
            <icon-add class="icon pr-2">
            </icon-add><icon-font class="icon pr-1"></icon-font>
            <span class="text-info">ADD FONTS</span>
          </td>
        </tr>
        <tr class="row">
          <td class="col-4">
            <div ngbDropdown [autoClose]="false" class="d-flex">
              <icon-search class="pr-1 icon icon-sm"></icon-search>
              <input type="text" class="border-0 px-1 col" placeholder="Search" id="dropdownInput" ngbDropdownToggle>
              <ul class="dropdown-menu list-group-flush" aria-labelledby="dropdownSearch">
                <li class="list-group-item">
                  <label class="custom-control custom-checkbox mb-sm-0">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span>Comp. Extra</span>
                  </label>
                </li>
                <li class="list-group-item">
                  <label class="custom-control custom-checkbox mb-sm-0">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span>Comp. Extra Italic</span>
                  </label>
                </li>
                <li class="list-group-item">
                  <label class="custom-control custom-checkbox mb-sm-0">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span>Comp. Extra Normal</span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col">
                <icon-close class="pr-2 icon icon-sm"></icon-close><span>Comp. Extra</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <icon-close class="pr-2 icon icon-sm"></icon-close><span>Comp. Extra Italic</span>
              </div>
            </div>
          </td>
          <td class="col-4">
            <div class="row">
              <div class="col-5 pr-0 align-items-center d-flex">
                <icon-close class="icon icon-sm mr-2"></icon-close>
                <div ngbDropdown class="d-inline-block w-100">
                  <button class="btn btn-sm btn-secondary text-left w-100" id="dropdownSingleOption" ngbDropdownToggle>
                      <!-- instead of the placeholder, text of the button should be replaced by the selected option -->
                      <!-- select placeholder text is a gray color -->
                    <span class="text-info">Select</span>
                    <icon-select class="icon icon-sm"></icon-select>
                  </button>
                  <ul class="dropdown-menu list-group-flush" aria-labelledby="dropdownSingleOption">
                    <li class="list-group-item">
                      <span>Desktop</span>
                    </li>
                    <li class="list-group-item">
                      <span>Web</span>
                    </li>
                    <li class="list-group-item">
                      <span>App</span>
                    </li>
                    <li class="list-group-item">
                      <span>Epub</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-7">
                <div ngbDropdown class="d-inline-block w-100">
                  <button class="btn btn-sm btn-secondary text-left w-100" id="dropdownSingleOption" ngbDropdownToggle>
                      <!-- instead of the placeholder, text of the button should be replaced by the selected option -->
                      <span class="text-info">Select</span>
                      <icon-select class="icon icon-sm"></icon-select>
                  </button>
                  <ul class="dropdown-menu list-group-flush w-100" aria-labelledby="dropdownSingleOption">
                    <li class="list-group-item">
                      <span>
                        Select
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="py-2">
              <div>
                <icon-add class="icon pr-1"></icon-add>
                <icon-add-license class="icon pr-1"></icon-add-license>
                <b>Add license</b>
              </div>
            </div>
          </td>
          <td class="col-2">
            <div ngbDropdown class="d-inline-block w-100">
              <button class="btn btn-sm btn-secondary text-left w-100" id="dropdownSingleOption" ngbDropdownToggle>
                  <!-- instead of the placeholder, text of the button should be replaced by the selected option -->
                  <span class="text-info">Select</span>
                  <icon-select class="icon icon-sm"></icon-select>
              </button>
              <ul class="dropdown-menu list-group-flush w-100" aria-labelledby="dropdownSingleOption">
                <li class="list-group-item">
                  <span>
                    05.01.2018
                  </span>
                </li>
                <li class="list-group-item">
                  <span>
                    05.01.2019
                  </span>
                </li>
              </ul>
            </div>
          </td>
          <td class="col-2">
            <div class="d-flex justify-content-between">
                <b class="text-info">One time:</b>
                <b>$400.00</b>
            </div>
            <div class="d-flex justify-content-between">
              <b class="text-info">Annual:</b>
              <b>$40.00</b>
            </div>
          </td>
        </tr>
        <tr>
          <td class="pt-4">
            <icon-close class="icon icon-sm pr-2"></icon-close>
            <span class="text-info">AGENCY FB</span>
          </td>
        </tr>
        <tr>
          <div class="d-flex">
            <td class="col-4">
              <div>
                <icon-close class="icon icon-sm pr-2"></icon-close><span>Comp. Extra Light</span>
              </div>
              <div>
                <icon-close class="icon icon-sm pr-2"></icon-close><span>Comp. Extra Italic</span>
              </div>
            </td>
            <td class="col-4">
              <div class="row">
                <div class="col-5 pr-0 align-items-center d-flex">
                  <icon-close class="icon icon-sm mr-2"></icon-close>
                  <div ngbDropdown class="d-inline-block w-100">
                    <button class="btn btn-sm btn-secondary text-left w-100 d-flex" id="dropdownSingleOption" ngbDropdownToggle>
                      <icon-desktop class="icon pr-1"></icon-desktop>
                      <b>Desktop</b>
                      <icon-select class="icon icon-sm"></icon-select>
                    </button>
                    <ul class="dropdown-menu list-group-flush" aria-labelledby="dropdownSingleOption">
                      <li class="list-group-item">
                        <span>Desktop</span>
                      </li>
                      <li class="list-group-item">
                        <span>Web</span>
                      </li>
                      <li class="list-group-item">
                        <span>App</span>
                      </li>
                      <li class="list-group-item">
                        <span>Epub</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-7">
                  <div ngbDropdown class="d-inline-block w-100">
                    <button class="btn btn-sm btn-secondary text-left w-100" id="dropdownSingleOption" ngbDropdownToggle>
                        <!-- instead of the placeholder, text of the button should be replaced by the selected option -->
                        <span class="text-info">Select</span>
                        <icon-select class="icon icon-sm"></icon-select>
                    </button>
                    <ul class="dropdown-menu list-group-flush w-100" aria-labelledby="dropdownSingleOption">
                      <li class="list-group-item">
                        <span>
                          Select
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-5 pr-0 align-items-center d-flex">
                  <icon-close class="icon icon-sm mr-2"></icon-close>
                  <div ngbDropdown class="d-inline-block w-100">
                    <button class="btn btn-sm btn-secondary text-left w-100 d-flex" id="dropdownSingleOption" ngbDropdownToggle>
                      <icon-web class="icon pr-1"></icon-web>
                      <b>Web</b>
                      <icon-select class="icon icon-sm"></icon-select>
                    </button>
                    <ul class="dropdown-menu list-group-flush" aria-labelledby="dropdownSingleOption">
                      <li class="list-group-item">
                        <span>Desktop</span>
                      </li>
                      <li class="list-group-item">
                        <span>Web</span>
                      </li>
                      <li class="list-group-item">
                        <span>App</span>
                      </li>
                      <li class="list-group-item">
                        <span>Epub</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-7">
                  <div ngbDropdown class="d-inline-block w-100">
                    <button class="btn btn-sm btn-secondary text-left w-100" id="dropdownSingleOption" ngbDropdownToggle>
                        <!-- instead of the placeholder, text of the button should be replaced by the selected option -->
                        <span class="text-info">Select</span>
                        <icon-select class="icon icon-sm"></icon-select>
                    </button>
                    <ul class="dropdown-menu list-group-flush w-100" aria-labelledby="dropdownSingleOption">
                      <li class="list-group-item">
                        <span>
                          Select
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-5 pr-0 align-items-center d-flex">
                  <icon-close class="icon icon-sm mr-2"></icon-close>
                  <div ngbDropdown class="d-inline-block w-100">
                    <button class="btn btn-sm btn-secondary text-left w-100 d-flex" id="dropdownSingleOption" ngbDropdownToggle>
                      <icon-app class="icon pr-1"></icon-app>
                      <b>App</b>
                      <icon-select class="icon icon-sm"></icon-select>
                    </button>
                    <ul class="dropdown-menu list-group-flush" aria-labelledby="dropdownSingleOption">
                      <li class="list-group-item">
                        <span>Desktop</span>
                      </li>
                      <li class="list-group-item">
                        <span>Web</span>
                      </li>
                      <li class="list-group-item">
                        <span>App</span>
                      </li>
                      <li class="list-group-item">
                        <span>Epub</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-7">
                  <div ngbDropdown class="d-inline-block w-100">
                    <button class="btn btn-sm btn-secondary text-left w-100" id="dropdownSingleOption" ngbDropdownToggle>
                        <!-- instead of the placeholder, text of the button should be replaced by the selected option -->
                        <span class="text-info">Select</span>
                        <icon-select class="icon icon-sm"></icon-select>
                    </button>
                    <ul class="dropdown-menu list-group-flush w-100" aria-labelledby="dropdownSingleOption">
                      <li class="list-group-item">
                        <span>
                          Select
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="py-2">
                <div>
                  <icon-add class="icon pr-1"></icon-add>
                  <icon-add-license class="icon pr-1"></icon-add-license>
                  <b>Add license</b>
                </div>
              </div>
              <div class="row mt-2 mx-2">
                <div class="col-6">
                  <icon-copy class="icon mr-1"></icon-copy>
                  <b>Copy to Family</b>
                  <icon-tooltip class="icon ml-1" placement="top" ngbTooltip="Tooltip"></icon-tooltip>
                </div>
                <div class="col-6 text-right">
                  <icon-copy class="icon mr-1"></icon-copy>
                  <b>Copy to Order</b>
                  <icon-tooltip class="icon ml-1" placement="top" ngbTooltip="Tooltip"></icon-tooltip>
                </div>
              </div>
            </td>
              <td class="col-2">
                <div ngbDropdown class="d-inline-block w-100">
                  <button class="btn btn-sm btn-secondary text-left w-100" id="dropdownSingleOption" ngbDropdownToggle>
                      <!-- instead of the placeholder, text of the button should be replaced by the selected option -->
                      <span class="text-info">Select</span>
                      <icon-select class="icon icon-sm"></icon-select>
                  </button>
                  <ul class="dropdown-menu list-group-flush w-100" aria-labelledby="dropdownSingleOption">
                    <li class="list-group-item">
                      <span>
                        05.01.2018
                      </span>
                    </li>
                    <li class="list-group-item">
                      <span>
                        05.01.2019
                      </span>
                    </li>
                  </ul>
                </div>
                <div ngbDropdown class="d-inline-block w-100 mt-2">
                  <button class="btn btn-sm btn-secondary text-left w-100" id="dropdownSingleOption" ngbDropdownToggle>
                      <!-- instead of the placeholder, text of the button should be replaced by the selected option -->
                      <span class="text-info">Select</span>
                      <icon-select class="icon icon-sm"></icon-select>
                  </button>
                  <ul class="dropdown-menu list-group-flush w-100" aria-labelledby="dropdownSingleOption">
                    <li class="list-group-item">
                      <span>
                        05.01.2018
                      </span>
                    </li>
                    <li class="list-group-item">
                      <span>
                        05.01.2019
                      </span>
                    </li>
                  </ul>
                </div>
                <div ngbDropdown class="d-inline-block w-100 mt-2">
                  <button class="btn btn-sm btn-secondary text-left w-100" id="dropdownSingleOption" ngbDropdownToggle>
                      <!-- instead of the placeholder, text of the button should be replaced by the selected option -->
                      <span class="text-info">Select</span>
                      <icon-select class="icon icon-sm"></icon-select>
                  </button>
                  <ul class="dropdown-menu list-group-flush w-100" aria-labelledby="dropdownSingleOption">
                    <li class="list-group-item">
                      <span>
                        05.01.2018
                      </span>
                    </li>
                    <li class="list-group-item">
                      <span>
                        05.01.2019
                      </span>
                    </li>
                  </ul>
                </div>
              </td>
              <td class="col-2">
                <div class="d-flex justify-content-between">
                    <b class="text-info">One time:</b>
                    <b>$400.00</b>
                </div>
                <div class="d-flex justify-content-between">
                  <b class="text-info">Annual:</b>
                  <b>$40.00</b>
                </div>
              </td>
          </div>
        </tr>
      </tbody>
    </table>
    <div class="row justify-content-center summary">
      <button class="btn rounded btn-secondary text-uppercase text-info">show all styles (19)</button>
    </div>
    <div class="row justify-content-end">
      <div class="col-3">
        <div class="d-flex justify-content-between">
          <span class="font-weight-bold">One-time</span>
          <b>$3.400.00</b>
        </div>
        <div class="d-flex justify-content-between">
          <span class="font-weight-bold">+annual</span>
          <b>$600.00</b>
        </div>
        <hr class="my-1">
        <div class="d-flex justify-content-between">
          <span class="font-weight-bold">Bulk discount</span>
          <b>-$228.00</b>
        </div>
        <div class="d-flex justify-content-between">
          <span class="font-weight-bold">Discount code <small class="text-info">(TYPE 10)</small></span>
          <b>-$50.00</b>
        </div>
        <hr class="my-1">
        <div class="d-flex justify-content-between">
          <span class="font-weight-bold">Tax</span>
          <b>$22.78</b>
        </div>
        <hr class="my-1">
        <div class="d-flex justify-content-between">
          <span class="font-weight-bold">Total</span>
          <b>$4.200.00</b>
        </div>
        <hr class="my-1">
        <div class="d-flex justify-content-between">
          <span class="font-weight-bold">Refund:</span>
          <b>(-$0.00)</b>
        </div>
      </div>
    </div>
  </div>
</div>