// Base element styling goes here

body {
	margin: 0;
	padding: 0;
	font-family: $body-font-family;
	min-width: 360px; // let's assume there is no more phones with the resulution < 360px...
}

h1, h2, h3, h4 {
	color: $green;
}

// updated base styles

ul, ol {
  list-style-type: none;
  margin: 0;
	padding: 0;
}

p {
  font-size: 1.25rem;
	color: $light-brown;
}

a {
	text-decoration: none;
}

section {
	margin: 1.25rem 2.5rem;

  @include breakpoint(medium down) {
    margin: 1.25rem;
  }
}

button {
	padding: 0.75rem 1.25rem;
	background: #107710;
	color: #FFFFFF;
	border: none;
	font-size: 0.75rem;
	outline: none;
	cursor: pointer;
}