// Import Fonts

$ui-font-path: "../fonts/";

/*
@font-face {
    font-family: 'Andika';
    src:
        url(#{$ui-font-path}Andika.ttf) format('truetype');
}
*/

@font-face {
    font-family: 'Quando';
    src:
        url(#{$ui-font-path}Quando.ttf) format('truetype');
}