// Footer styling goes here

footer {
  padding: 1rem 0 1.75rem;
	background: #F8F8F8;
	border-top: 5px solid #E7DFD7;
  text-align: center;

	span {
		font-size: 0.675rem;
		letter-spacing: 0.15rem;
		text-transform: uppercase;
		color: #A0A0A0;
	}

	@media (max-width: $extra-small-down) {

		span {
			letter-spacing: 0.05rem;
		}
	}
}
