// Main section styling goes here

.main {
  display: flex;
}

.sidebar {
	width: 20%;
  min-width: 14rem;
	padding: 2rem 1.75rem 0;
  color: #787878;
	border: 1px solid #E7DFD7;
	background: #F8F8F8;

  &.sidebar-right {
    margin-left: 2.5rem;
  }

  input {
    width: 100%;
    padding: 0.75rem 0;
    text-indent: 0.5rem;
    outline: none;
    background: #F5F0E7;
    border: 1px solid #D7D0C0;
    text-transform: lowercase;
    margin-bottom: 2rem;
  }

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  a {
    color: #3b3b3b;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 2.5rem;
  }

  li {
    padding: 0.75rem 0px;
    font-size: .8125rem;
    border-bottom: 1px solid #e7dfd7;
  }

  @media (max-width: $small-down) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.25rem;

    input {
      margin-bottom: 1rem;
    }

    >* {
      width: 48%;
    }
  }

  @media (max-width: $extra-small-down) {
    flex-direction: column;

    >* {
      width: 100%;
    }
  }
}

.content {
  width: 48%;
  margin: 0 2.5rem;

  .post {
    margin-bottom: 2.5rem;
    padding: 2.5rem;
    border: 1px solid #E7DFD7;
    background: #f8f8f8;

    .meta { 
      font-size: 0.8125rem;
    }
  }

  .post-text {
    margin: 2.5rem 0;
  }

  .post a {
    color: #107710;
  }

  @media (max-width: $small-down) {
    width: auto;
    margin: auto;

    .post {
      padding: 1.25rem;
    }

    .post-text {
      margin: 1.25rem 0;
    }
  }
}