// Main section styling goes here

.main{
  margin-left: 24rem;

  @include breakpoint(medium down) {
    margin-left: 1.25rem;
  }
}

.content {

  .post {
    margin-bottom: 2.5rem;
    padding: 2.5rem;
    border: 1px solid #E7DFD7;
    background: #f8f8f8;
  }

  .post-text {
    margin: 2.5rem 0;
  }

  .post a {
    color: $green;
  }

  @media (max-width: $small-down) {
    width: auto;
    margin: auto;

    .post {
      padding: 1.25rem;
    }

    .post-text {
      margin: 1.25rem 0;
    }
  }
}