// Main section styling goes here

.main{
  margin-left: 24rem;

  @include breakpoint(medium down) {
    margin-left: 1.25rem;
    margin-top: 5rem;
  }

  .front-images {
    img {
      border-radius: 0.5rem;
    }
  }
}

.content {

  .post {
    margin-bottom: 2.5rem;
    padding: 2.5rem;
    border: 1px solid #E7DFD7;
    background: #f8f8f8;
  }

  .post-text {
    margin: 2.5rem 0;
  }

  .post a {
    color: $green;
  }
}