// Navbar styling goes here

.nav {
  display: flex;
  flex-direction: column;

  a {
    color: $dark-gray;
    padding: 0.5rem 0;
    font-size: $lead-font-size * 1.25;
  }

  @include breakpoint(medium down) {
	  background: #F8F8F8;
    margin-top: -1.5rem;
    transition: all 0.25s ease-out;
    padding-left: 1.175rem;

    &.collapse-mobile {
      margin-top: -18rem;
      transition: all 0.25s;
    }

    a {
      font-size: $lead-font-size * 1.125;
    }
  }
}

.nav-mobile-trigger {
  img {
    width: 2.125rem;
  }
}