// Navbar styling goes here

.nav {
  display: flex;
  flex-direction: column;

  a {
    color: $dark-gray;
    padding-left: 0.25rem;
    font-size: $lead-font-size * 1.5;
  }

  @media (max-width: $extra-small-down) {
    flex-direction: column;

    .nav-mobile-trigger {
      &:hover {
        background: none;
      }
    }

    &.collapse-mobile {
      li {
        height: 0;
        opacity: 0;
        transition: all 0.5s;
      }
    }

    li {
      margin: 0;
      height: 2.25rem;
      opacity: 1;
      transition: all 0.5s ease-out;
      
      &.active {
        background: $green;
        border-radius: 0.5rem;
      }
    }

    a {
      display: flex;
      color: #fff;
      padding: 0.25rem 0.75rem;
    }
  }
}