
// apply together with the .flex only
.align-justify {
  justify-content: space-between;
}

// Breakpoints variables:

// use when need to cover only mobile screens
$extra-small-down: 768px;

// use when need to cover tablet and desktop screens
$extra-small-up: 769px;

// use when need to cover only mobile screens
$small-down: 1200px;

// use when need to cover mostly desktop screens
$medium-up: 1201px;

// Visibility classes:

// use when need to show element only on the mobile screen
.show-xs {
  @media (min-width: $extra-small-up) {
    display: none !important;
  }
}

// use when need to show element only on the tablets and desktops screen
.hide-xs {
  @media (max-width: $extra-small-down) {
    display: none !important;
  }
}

// use when need to show element only on the desktops screen
.show-md-up {
  @media (max-width: $small-down) {
    display: none !important;
  }
}

// use when need to show element only on the mobile/tablet screen
.show-sm-down {
  @media (min-width: $medium-up) {
    display: none !important;
  }
}