<tr class="row">
  <td class="col" [ngClass]="{'toggled': !isCollapsed }" style="cursor: pointer;"
    (click)='isCollapsed = !isCollapsed' [attr.aria-expanded]='!isCollapsed' 
    [attr.aria-controls]='customer'>
    <i>
      <icon-right-arrow></icon-right-arrow>
    </i>
    {{customer.first_name}} {{customer.last_name}}
  </td>
  <td class="col">
    {{customer.email}}
  </td>
  <td class="col">
    The Guardian
  </td>
  <td class="col">
    {{customer.city}}
  </td>
  <td class="col">
    {{customer.country}}
  </td>
  <td class="col">
    {{customer.totalSpent | currency:'USD':true:'1.2-2'}}
  </td>
</tr>

<tr class="row border-0">
  <table class="table table-active no-borders col" [attr.id]='customer' [ngbCollapse]='isCollapsed'>
    <thead class="row">
      <th class="col">Contact Info</th>
      <th class="col">Website</th>
      <th class="col">Source</th>
      <th class="col">Source ID</th>
      <th class="col"></th>
      <th class="col"></th>
    </thead>
    <tbody class="row">
      <td class="col">{{customer.phone}}</td>
      <td class="col">{{customer.website}}</td>
      <td class="col"></td>
      <td class="col"></td>
      <td class="col"></td>
      <td class="col"></td>
    </tbody>
  </table>
</tr>
