<div class="container-fluid">

            <h1 class="bd-title" id="content">Borders</h1>
          <p>Use border utilities to quickly style the <code class="highlighter-rouge">border</code> and <code class="highlighter-rouge">border-radius</code> of an element. Great for images, buttons, or any other element.</p>

<h2 id="border">Border</h2>

<p>Add classes to an element to remove all borders or some borders.</p>

<div class="bd-example-border-utils">

<div class="bd-example" data-example-id="">
<span class="border-0"></span>
<span class="border-top-0"></span>
<span class="border-right-0"></span>
<span class="border-bottom-0"></span>
<span class="border-left-0"></span>
</div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"border-0"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"border-top-0"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"border-right-0"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"border-bottom-0"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"border-left-0"</span><span class="nt">&gt;&lt;/span&gt;</span></code></pre></div>

</div>

<h2 id="border-radius">Border-radius</h2>

<p>TypeNetwork does not use border radiuses. The standard border radius classes are disabled, except rounded-circle which is used for avatar images.</p>

<div class="bd-example bd-example-images">
  <img src="./assets/img/bootstrap-demo-image-75x75.svg" class="rounded" alt="Example rounded image" />
  <img src="./assets/img/bootstrap-demo-image-75x75.svg" class="rounded-top" alt="Example top rounded image" />
  <img src="./assets/img/bootstrap-demo-image-75x75.svg" class="rounded-right" alt="Example right rounded image" />
  <img src="./assets/img/bootstrap-demo-image-75x75.svg" class="rounded-bottom" alt="Example bottom rounded image" />
  <img src="./assets/img/bootstrap-demo-image-75x75.svg" class="rounded-left" alt="Example left rounded image" />
  <img src="./assets/img/bootstrap-demo-image-75x75.svg" class="rounded-circle" alt="Completely round image" />
  <img src="./assets/img/bootstrap-demo-image-75x75.svg" class="rounded-0" alt="Example non-rounded image (overrides rounding applied elsewhere)" />
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded"</span><span class="nt">&gt;</span>
<span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded-top"</span><span class="nt">&gt;</span>
<span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded-right"</span><span class="nt">&gt;</span>
<span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded-bottom"</span><span class="nt">&gt;</span>
<span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded-left"</span><span class="nt">&gt;</span>
<span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded-circle"</span><span class="nt">&gt;</span>
<span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"rounded-0"</span><span class="nt">&gt;</span></code></pre></figure>


</div>